.EmptyContainer{
    font-size: 10px;
    color:rgb(187, 186, 186);
    height: 70vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.emptyIcon{
    display:flex;
    text-align: center;
}
.createProjectBtn{
    text-align: center;
}
.createProjectBtn:hover{
cursor: pointer;
font-weight: 800;
}