.EmptyContainer{
    font-size: 10px;
    color:rgb(187, 186, 186);
    height: auto;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.emptyIcon{
    display:flex;
    text-align: center;
}