.containerModal{
    z-index: 25;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:rgba(0,0,0,.5);
    position:fixed;
}

.cardModalUserNotExist{
    background-color: white;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;


}


.form{
    display:flex;
    flex-direction: column;
}




.modal2{
    background-color:#F0EBEB;
    border: 2px solid #F0EBEB;
   
}





.containerCardTask{
    z-index: 25;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:rgba(0,0,0,.5);
    position:fixed;
}


.modal2Content{
    display:flex;
    justify-content: center;
    align-items: center;
    
   
   height: 10vh;
}


.inputTaskContainer{
    align-self: flex-end;
    
}


.textTask{
    font-size: 1em;
    
}