.containerInput{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 50%;
}
.form{
    background-color: aliceblue;
    border-radius: 5%;
    height: 70vh;
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn{
    position:relative;
   top:5%;
    justify-self: flex-end;
}

.logoSinginContainer{
justify-content: flex-start;
align-self: center;
}


.errors{
    color:red;
}