.landingPage{
    background-image: url('../Assets/LandingPage.png');
    background-size: cover;
    height: 100vh;
    display:flex;
    flex-direction:column;
}

/* .Input{
   
    height:20vh;
    width: 20%;
    align-items: center;
    justify-content: center;
    background-color: blue;
} */

.register{
    width: 30%;
    margin-left: 15%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}